html {
    font-family: $helvetica;
}

body{
font-family: helvetica;
}

.box {
    background-image: url('../img/image1.jpg');
    background-repeat: no-repeat;
    background-attachment: absolute; 
    overflow: hidden;
}

.tooltip:hover span {
opacity: 1;
filter: alpha(opacity=100);
top: 0em;
left: 20em;
z-index: 99;
-webkit-transition: all 0.2s ease;
-moz-transition: all 0.2s ease;
-o-transition: all 0.2s ease;
transition: all 0.2s ease;
}

.tooltip span {
	background: none repeat scroll 0 0; /*-- some basic styling */
	color: $white;
	font-family: 'Helvetica';
	font-size: 0.8em;
	font-weight: normal;
	line-height: 1.5em;
	padding: 16px 15px;
	width: 240px;
	top: -50em;  /*-- this is the original position of the tooltip when it's hidden */
	left: 31px;
	margin-left: 0;	
	/*-- set opacity to 0 otherwise our animations won't work */
	opacity: 0;
	filter: alpha(opacity=0);  	
	text-align: center;	
	z-index: 2;
	text-transform: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease-in-out;
}

.tooltip span:after {
	bottom: -15px;
	content: "";
	display: block;
	left: 31px;
	width: 240px;
}

img {
    left: 29px;
}

.header {
    text-align: center;
}